<div style="display: flex; align-items: center; flex-direction: column;">
    <div class="header-map-container">
        <img class="header-map" src="{{"/assets/TheGrandPassage.png" | absolute_url}}" alt="header-map" />
    </div>
    <div class="post-text signup">
        <h2>
            Sign Up
        </h2>
        <p>
            <a href="mailto:themoromis@gmail.com">Email me</a> your name and tell me you're in, then show up with 5 bucks in hand.
        </p>
    </div>
    <div class="post-text">
        <h2>
            Info
        </h2>
        <p>
            First Saturday of September
        </p>
        <div class="info-bite">
        <p>
            2021 Date:
        </p>
        <p>
            <b>4th Sep. 2021</b>
        </p>
        </div>
        <div class="info-bite">
        <p>
            Race start:
        </p>
        <p>
            6:30am PST
        </p>
        </div>
        <div class="info-bite">
            <p>
                Race Distance:
            </p>
            <p>
                ~35 miles
            </p>
        </div>
        <div class="info-bite">
            <p>
                Max Gradient:
            </p>
            <p>
                ~43%
            </p>
        </div>
        <div class="info-bite">
            <p>
                Difficulty:
            </p>
            <p style="color: red;">
                Hard
            </p>
        </div>
              <p>
            <a href="https://goo.gl/maps/3bPmFWf9ch87Gyz37" target="_blank" rel="noreferrer">
                Start location
            </a>
        </p>
        <p>
            <a href="https://www.strava.com/routes/2813969172367266618" rel="noreferrer" target="_blank">Course Strava</a>
        </p>
    </div>
<div class="post-text">
  <h2>
      Overview
  </h2>
    <p>
        The Grand Passage MTB race is a celebration of the incredible wealth of mountain biking parks and trails we have in Washington State.
        <br />
        <br />
        The race starts at the North end of Soaring Eagle and ends at the bottom of Tiger Mountain.
        The route dawdles in each park and does a couple runs, to fully appreciate the offerings of each.
    </p>
  </div>
  <img class="course-map" src="{{"/assets/TheGrandPassageMap.png" | absolute_url}}" alt="course-map" width=350 />
  <p style="color: white; font-size: 1.25em;">Course Map</p>
    <div class="post-text">
        <p>
            You can find the Strava route for <a href="https://www.strava.com/routes/2813969172367266618" rel="noreferrer" target="_blank">the course here</a>.
        </p>
        <p>
            NOTE: The course is subject to change at any time for any reason. The goal is to hit every park but the steps inbetween are still being established as being legal and possible.
        </p>
        <br />
        <br />
        <h2>
            Details
        </h2>
        <p>
            The entry fee for this race will be $5 USD <i>CASH</i>. You must bring a $5 bill to the race start and hand it to me or else I'll just ignore you.
            You can still ride if you don't pay, but you won't be eligible for any portion of the prize pool, even if you place in the top three.
        </p>
        <p>
            The entirety of money from entry fees will be placed into a prize pool and divided amongst the top three as follows:
        </p>
            <br />
        <p>
            <ol>
                <li>
                    <p>
                        First Place: <b>60%</b>
                    </p>
                </li>
                <li>
                    <p>
                        Second Place: <b>25%</b>
                    </p>
                </li>
                <li>
                    <p>
                        Third Place: <b>15%</b>
                    </p>
                </li>
            </ol>

            <br />
            <p>
                This event isn't going to have official timing (it has no budget).
                You must record your ride to a platform such as Strava or MapMyRide so that it can be verified.
            </p>
            <br />
            <p>
                You don't have to record your ride if you would like to remain a purist, you just won't have a chance
                to win any of the prize pool.
            </p>
            <br />
            <p>
                In the case of a top three rider with route deviation(s) or an unrecorded ride that rider will be excluded from the prize pool but
                may be given a $5 pity prize at the race organizer's discretion.
            </p>
        </p>
    </div>
    <div class="post-text">
        <h2>
            FAQ
        </h2>
        <div class="question">
        <p>
            <b>
                Q:
            </b>
            What kind of bike should I use?
        </p>
        <p>
            <b>
                A:
            </b>
            You can use whatever you want but a mountain bike is probably the best choice. You probably could get away with a gravel or cross bike though. Pre-ride and see what works!
        </p>
        </div>
        <div class="question">
        <p>
            <b>
                Q:
            </b>
            How do I even know this route is possible? Have you done it before?
        </p>
        <p>
            <b>
                A:
            </b>
            <a href="https://www.strava.com/activities/3951685953" target="_blank" rel="noreferrer">Yeah pretty much.</a> I've also test ridden portions or walked them to make sure they're viable.
        </p>
        </div>
        <div class="question">
         <p>
            <b>
                Q:
            </b>
            What if I don't want to ride but want to donate to the prize pool?
        </p>
        <p>
            <b>
                A:
            </b>
            <a href="mailto:themoromis@gmail.com">Email me here</a> and we'll see what we can work out.
        </p>
        </div>
        <div class="question">
          <p>
            <b>
                Q:
            </b>
            I'm a business/corporation/other, can I sponsor this race?
        </p>
        <p>
            <b>
                A:
            </b>
            Nah but feel free to come ride.
        </p>
        </div>
    </div>
</div>
