<div style="display: flex; align-items: center; flex-direction: column;">
    <div class="header-map-container">
        <img class="header-map" src="{{"/assets/TheGrandPassage.png" | absolute_url}}" alt="header-map" />
    </div>
    <div class="post-text signup">
        <h2>
            Sign Up
        </h2>
        <p>
            <a href="mailto:themoromis@gmail.com">Email me</a> your name and tell me you're in, then show up.
        </p>
    </div>
    <div class="post-text">
        <h2>
            Info
        </h2>
        <p>
            First Wednesday of September
        </p>
        <div class="info-bite">
            <p>
                2021 Date:
            </p>
            <p>
                <b>1st Sep. 2021</b>
            </p>
        </div>
        <div class="info-bite">
            <p>
                Ride start:
            </p>
            <p>
                4:00 am PST (to avoid crowds)
            </p>
        </div>
        <div class="info-bite">
            <p>
                Ride Distance:
            </p>
            <p>
                ~35 miles
            </p>
        </div>
        <div class="info-bite">
            <p>
                Max Gradient:
            </p>
            <p>
                ~22%
            </p>
        </div>
        <div class="info-bite">
            <p>
                Difficulty:
            </p>
            <p style="color: orange;">
                Medium
            </p>
        </div>
        <p>
            <a href="https://goo.gl/maps/3bPmFWf9ch87Gyz37" target="_blank" rel="noreferrer">
                Start location
            </a>
        </p>
        <p>
            <a href="https://ridewithgps.com/routes/36978940" rel="noreferrer" target="_blank">Course Strava</a>
        </p>
    </div>
    <div class="post-text">
        <h2>
            Overview
        </h2>
        <p>
            The Grand Passage MTB fun ride is a celebration of the incredible wealth of mountain biking parks and trails we have in Washington State.
            <br />
            <br />
            The fun ride starts at the North end of Soaring Eagle and ends at the bottom of Tiger Mountain.
            The route dawdles in each park and does a couple runs, to fully appreciate the offerings of each.
        </p>
    </div>
    <img class="course-map" src="{{"/assets/TheGrandPassageMap.png" | absolute_url}}" alt="course-map" width=350 />
    <p style="color: white; font-size: 1.25em;">Course Map</p>
    <div class="post-text">
        <p>
            You can find the RWGPS route for <a href="https://ridewithgps.com/routes/36978940" rel="noreferrer" target="_blank">the course here</a>.
        </p>
        <p>
            NOTE: The course is subject to change at any time for any reason. The goal is to hit every park but the steps inbetween are still being established as being legal and possible.
        </p>
    </div>
    <div class="post-text">
        <h2>
            FAQ
        </h2>
         <div class="question">
            <p>
                <b>
                    Q:
                </b>
                I see hiking trails on the route, what's up with that?
            </p>
            <p>
                <b>
                    A:
                </b>
                It's a tricky thing to get up the North side of Tiger Mountain. I'm still figuring out how it might be allowed, but one option might be to pack the bike onto your back and then hike up with it, like one would do for the Arizona Trail when going through the Grand Canyon. We'll see! Like I mentioned earlier on this page, the route is subject to change. There are other routes but obviously they aren't as straightforward or "safe" (in regards to riding with car traffic).
            </p>
         </div>
         <div class="question">
            <p>
                <b>
                    Q:
                </b>
                What kind of bike should I use?
            </p>
            <p>
                <b>
                    A:
                </b>
                You can use whatever you want but a mountain bike is probably the best choice. You probably could get away with a gravel or cross bike though. Pre-ride and see what works!
            </p>
        </div>
        <div class="question">
            <p>
                <b>
                    Q:
                </b>
                Can you ensure my safety?
            </p>
            <p>
                <b>
                    A:
                </b>
                Of course not, what am I, your mother? I'm doing this ride and if you want you can join me but if you want to be babied go ride STP or something.
            </p>
        </div>
        <div class="question">
            <p>
                <b>
                    Q:
                </b>
                How much water/food should I bring?
            </p>
            <p>
                <b>
                    A:
                </b>
                How much do you weigh?
            </p>
        </div>
        <div class="question">
            <p>
                <b>
                    Q:
                </b>
                How do I get back to my car?
            </p>
            <p>
                <b>
                    A:
                </b>
                You're an adult (or not), you can figure it out. You can ride back, ask one of your friends to meet you at the finish line, maybe even bribe the ride organizer to give you a lift.
            </p>
        </div>
        <div class="question">
            <p>
                <b>
                    Q:
                </b>
                How do I even know this route is possible? Have you done it before?
            </p>
            <p>
                <b>
                    A:
                </b>
                <a href="https://www.strava.com/activities/3951685953" target="_blank" rel="noreferrer">Yeah pretty much.</a> I've also test ridden portions or walked them to make sure they're viable.
            </p>
        </div>
        <div class="question">
            <p>
                <b>
                    Q:
                </b>
                Is there any prizes?
            </p>
            <p>
                <b>
                    A:
                </b>
                This is a "fun ride", not a race ;)
            </p>
        </div>
    </div>
</div>
